.gradle/
.idea/
build/
local.properties
*.iml

app/build/

third_party/

.omc/
.omx/external/
.omx/m0/private/
.omx/m0/code/
.omx/m0/*.png
.omx/m0/*.xml
.omx/m0/*socket*.txt
.omx/m0/*logcat*.txt
.omx/m0/events-*.txt
.omx/m0/dumpsys-*.txt
.omx/state/
*.bin

# 临时调试截图
.omx/*.png

captures/
logs/
